<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your website description">
    <title>ChartRatings</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>ChartRatings ⭐️</h1>
    </header>

    <main>
        <form method="post">
            <input type="text" name="show_name" placeholder="Enter show name">
            <button type="submit">Search</button>
        </form>
        <div style="width: 80%; margin: 20px auto;">
            <canvas id="myChart"></canvas>
        </div>
    </main>

    <footer>
        <p>Created with ❤️ by Han Sheng for CS50!</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="chart-setup.js"></script>
</body>
</html>
